# Gitignore for the starter kit.
*
!README.md
!composer.json
!/scripts/
!/scripts/composer/
!/scripts/composer/ScriptHandler.php
!/scripts/composer/ScriptUpdater.php
!/.github/
!/.github/pull_request_template.md
!/web/
!/web/sites
!/web/sites/default/
!/web/sites/default/example.*
!/web/sites/default/kmc*
!/web/modules/custom/.gitkeep
!/web/themes/custom/.gitkeep
